<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../includes/head")%>

    
    <link href="/static/css/productDetail.css"  rel="stylesheet">   

   </head>

<body>
    <%- include("../includes/header")%>
  

<main>
   
<% if (productos.length > 0) {%>
    <ul class="productos">
      <%productos.forEach(producto => {%>
        <li>
              <% if (producto.files && producto.files.length > 0) { %>
                <% producto.files.forEach(file => { %>  
                <figure>
            <img src="/static/products/<%= file %>" alt="<%= producto.name %> Big Bros">
                </figure>
                <% }) %>
            <% } %>
                <section class="caracteristicas-p">
                    <p><a href="/productos/<%= producto.id%>"><%=producto.name%></a></p>
                </section> 
          </li>
        <% }) %>
    </ul>
    <% } else {%>
        <h2>no se encontro ningún producto</h2>
        <% } %>   
        
        <button class="create" type="submit"><a href="/productos/nuevo">Nuevo</a></button>
</main>

  <%- include("../includes/footer")%>

</body>   
</html>