<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../includes/head")%>

    
    <link href="/static/css/productDetail.css"  rel="stylesheet">   

   </head>

<body>
    <%- include("../includes/header")%>
  

<main>
 
<section>
<img width=33% src="/static/images/alfajores 3.jpg" alt="Alfajores de Chocolate" class="product_img">
<img width=33% src="/static/images/alfajores 2.jpg" alt="Alfajores de Chocolate" class="product_img">
<img width=33% src="/static/images/alfajores 4.jpg" alt="Alfajores de Chocolate" class="product_img">  
</section> 
  
<% if (productos.length > 0) {%>
    <ul>
      <%productos.forEach(producto => {%>
        <li>
          <section class="productos">
            <article>
                <img src="/static/images/alfajores/alfajores-04.jpg" alt="alfajores Big Bros">
                <section class="caracteristicas-p">
                    <p><a href="/productos/<%= producto.id%>"><%=producto.name%></a></p>
                </section>
             </article>  
        </section>
          </li>
        <% }) %>
    </ul>
    <% } else {%>
        <h2>no se encontro ningún producto</h2>
        <% } %> 
        
        <button type="submit"><a href="/productos/nuevo">Nuevo</a></button>
  </main>

  <%- include("../includes/footer")%>  
  
  </body> 


</html>