<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../includes/head")%>
    <link href="/static/css/show.css"  rel="stylesheet">  
   </head>

<body>
    <%- include("../includes/header")%>
  

<main>

<section class="productos">
    <article>
            <figure>
        <img src="/static/products/<%= producto.product_image.url %>" alt="<%= producto.name %> Big Bros">
            </figure>  
        <section class="caracteristicas-p">
            <p><%= producto.name%></p>
               <form action="" method="">
                   <select class="cantidad" name="cantidad" id="cantidad" aria-checked="3">
                       <option value="1" selected><%= producto.amount%></option>
                   </select>
                   <input class="Agregar-carrito" type="submit" value="Agregar al carrito" id="Agregar al carrito"> 
                   <input class="precio" type="text" value="$ <%= producto.price%>" id="precio" >
                
                   <section id="share">
                       <a href=" "><i class="fas fa-share-alt"></i></a>
                       <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
                       <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                       <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                   </section>
               </form>
        </section>
     </article>  
</section>

<section class="buttons">
    <button class="edit"><a href="/productos/editar/<%= producto.id %>">Editar</a></button>

    <form action="/productos/borrar?m=DELETE" method="post">
     <input type="hidden" name="id" id="id" value="<%= producto.id %>">
     <button class="delete" type="submit">Eliminar</button>
    </form>
</section>    
  </main>

  <%- include("../includes/footer")%>  
  
  </body> 

  <script src="/static/js/show.js"></script>
</html>