<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./includes/head")%>
    <link href="/static/css/home.css"  rel="stylesheet">
 

   </head>

 <body>
    <%- include("./includes/header")%>
     
    <main>
     <section id="slider">
        <ul id="slides">
            <li id="slide-1" class="slide"><img src="/static/images/banner-01.jpg" alt=""></li>
            <li id="slide-2" class="slide"><img src="/static/images/banner-02.jpg" alt=""></li>
            <li id="slide-3" class="slide"><img src="/static/images/banner-03.jpg" alt=""></li>
        </ul>
        <nav id="menu">
            <a href="#slide-1"></a>
            <a href="#slide-2"></a>
            <a href="#slide-3"></a>
        </nav>
     </section>
   
   
        <p id="titulo">Productos Destacados</p>
    
        <% if (productos.length > 0) {%>
            <ul>
              <%productos.forEach(producto => {%>
                <li>
                    <section class="productos">
                        <article>
                            <% if (producto.files && producto.files.length > 0) { %>
                                <% producto.files.forEach(file => { %>  
                                <figure>
                            <img src="/static/products/<%= file %>" alt="<%= producto.name %> Big Bros">
                                </figure>
                                <% }) %>
                            <% } %>
                            <section class="caracteristicas-p">
                                <p><%= producto.name%></p>
                                   <form action="" method="">
                                       <select class="cantidad" name="cantidad" id="cantidad" aria-checked="3">
                                           <option value="1" selected><%= producto.amount%></option>
                                       </select>
                                       <input class="Agregar-carrito" type="submit" value="Agregar al carrito" id="Agregar al carrito"> 
                                       <input class="precio" type="text" value="$ <%= producto.price%>" id="precio" >
                                    
                                       <section id="share">
                                           <a href=" "><i class="fas fa-share-alt"></i></a>
                                           <a href="https://www.instagram.com/?hl=es-la"><i class="fab fa-instagram"></i></a>
                                           <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                                           <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                                       </section>
                                   </form>
                            </section>
                         </article>  
                    </section>
                </li>
                <% }) %>
            </ul>
            <% } else {%>
                <h2>no se encontro ningún producto</h2>
                <% } %> 
        

    </main>
 
    <%- include("./includes/footer")%>

 </body>
</html>