<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../includes/head")%>
        <link href="/static/css/register.css"  rel="stylesheet">
        <link href="/static/css/header.css"  rel="stylesheet">
        <link href="/static/css/footer.css"  rel="stylesheet">
    </head>
   


    <body>
        <%- include("../includes/header")%>

  
 <main>
    <section>
        <h3 class="title">Registro</h3>
        <form class="register" id="register" action="/users/guardar" method="post" enctype="multipart/form-data" novalidate>
            
            <fieldset>
                <label for="firstName"><b>Nombre</b></label>
                <input 
                type="text" 
                name="firstName" 
                id="firstName"
                placeholder="Nombre.." 
                class=" <%= locals.errors && errors.firstName ? "invalid" : null %> " 
                value="<%= locals.oldData ? oldData.firstName : null %>"
                >
                <% if (locals.errors && errors.firstName) { %>
                    <section class="text-danger">
                        <%= errors.firstName.msg %> 
                    </section>
                <% } %>
                <span class="errorF"></span>
            </fieldset>
            <fieldset>
                <label for="lastName"><b>Apellido</b></label>
                <input 
                type="text" 
                name="lastName"
                id="lastName" 
                placeholder="Apellido.." 
                class=" <%= locals.errors && errors.lastName ? "invalid" : null %> " 
                value="<%= locals.oldData ? oldData.lastName : null %>"
                >
                <% if (locals.errors && errors.lastName) { %>
                    <section class="text-danger">
                        <%= errors.lastName.msg %> 
                    </section>
                <% } %>
                <span class="errorF"></span>
            </fieldset>  
            <fieldset>
                <label for="userName"><b>Nombre de Usuario</b></label>
                <input 
                type="text" 
                name="userName" 
                id="userName"
                placeholder="Nombre de usuario.." 
                class=" <%= locals.errors && errors.userName ? "invalid" : null %> "
                value="<%= locals.oldData ? oldData.userName : null %>" 
                >
                <% if (locals.errors && errors.userName) { %>
                    <section class="text-danger">
                        <%= errors.userName.msg %> 
                    </section>
                <% } %>
                <span class="errorF"></span>
            </fieldset>
            <fieldset>
                <label for="email"><b>Email</b></label>
                <input 
                type="email" 
                name="email"
                id="email" 
                placeholder="Email.." 
                class=" <%= locals.errors && errors.email ? "invalid" : null %> "
                value="<%= locals.oldData ? oldData.email : null %>"  
                >
                <% if (locals.errors && errors.email) { %>
                    <section class="text-danger">
                        <%= errors.email.msg %> 
                    </section>
                <% } %>
                <span class="errorF"></span>
            </fieldset>
            <fieldset>
                <label for="password"><b>Contraseña</b></label>
                <input 
                type="password" 
                name="password" 
                id="password"
                placeholder="Contraseña.." 
                class=" <%= locals.errors && errors.password ? "invalid" : null %> "
                >
                <% if (locals.errors && errors.password) { %>
                    <section class="text-danger">
                        <%= errors.password.msg %> 
                    </section>
                <% } %>
                <span class="errorF"></span>
            </fieldset>
            <fieldset>
                <button type= "submit">Enviar</button>
            </fieldset>
        </form> 
        </section>
    </main>


    
</body>
<script src="/static/js/registerValidations.js"></script>
</html>